body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.root{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 900px;
}
.input_text{
    padding: 1px 2px;
}
.btn{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.btn-primary{
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-success{
    color: white;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:hover{
    background-color: #468b46;
}
.btn-primary:hover{
    background-color: #294f70;   
}
.content{
    width: 100%;
    margin-bottom: 20px;
    overflow-y: hidden;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 0;
    border-color: gray;
    padding: 8px;
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.bg-light-gray{
    background-color: #f7f7f7;
}
.information-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 th, td{
    padding: 8px;
    border-bottom: 2px solid #ddd;
}
th{
    border-top: 2px solid #ddd;
}
th, td{
    border-right: 2px solid #ddd;
}
tr{
    border-left: 2px solid #ddd;
}
tr:hover{
    background-color: #C4C3D0;
}
.info-icon{
    padding: 3px 10px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ff5722;
    font-size: 14px;
}
.tutor_name{
    font-size: 13px;
    color: #d6d5d5;
    margin-top: 1px;
    margin-bottom: 2px;
}