body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100vw;
    height: 100vh;
}
.content {
    width: 50%;
}
.flex {
    display: flex;
    flex-direction: row;
}
.item-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid grey; 
    border-radius: 5px;
}
.input_text{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 20px;
    margin: 5px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
}
.btn {
    flex: 15%;
    background-color: rgb(252, 48, 48);
    border-radius: 5px;
    border-color:  rgb(196, 196, 196)
}
.btnEdit {
    flex: 15%;
    background-color: solid grey;
    margin-right: 5px;
    border-radius: 5px;
    border-color:  rgb(196, 196, 196);
}
.btnAdd {
    width: 15%;
    margin: 5px;
    background-color: solid grey;
    margin-right: 5px;
    border-radius: 5px;
    border-color:  rgb(196, 196, 196);
}
.text {
 flex: 60%
}
.checkbox {
    flex: 10%;    
}
